#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

img {
  max-width: 100%;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
}
